html {
    box-sizing: border-box; 
}
*, *::after, *::before {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 150px;
    height: 200px;
    max-width: 100%;
    border-radius: 50%;
    border: 3px solid rgb(19, 211, 19);
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container ul {
    padding: 0;
    margin: 0;
    margin-top: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.btn {
    background-color: lime;
    margin-bottom: 1.5rem;
    padding: 1rem 5rem;
    border-radius: 5px;
    text-align: center;
    -webkit-box-shadow: 4px 2px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 4px 2px 5px 0px rgba(255,255,255,1);
    box-shadow: 4px 2px 5px 0px rgba(255,255,255,1);
}
.btn > a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}